.pink{background-color:pink;
color:red;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;
}

.skyblue{background-color:#76ECF5;
color:skyblue;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;
}

.gold{background-color:gold;
color:red;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;
}

.blue{background-color:rgba(82,82,255,0.9);
color:gold;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;

}



.red{background-color:red;
color:gold;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;

}

.green{background-color:#3FC;
color:gold;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;

}

.purple{background-color:purple;
color:gold;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;

}

.orange{background-color:orange;
color:blue;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;

}

.black{background-color:black;
color:white;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:20px;
width:180px;
height:20px;
list-style-type:none;
float:left;
margin-left:15px;
margin-top:10px;

}

.subcolor{background-color:#9CF;
color:white;
font-family:Verdana;
text-align:center;
font-size:12px;
font-weight:bold;
border-radius:15px;
width:150px;
height:20px;
list-style-type:none;
float:left;
margin-left:20px;
margin-top:10px;

}